<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% if session.username %}
            <a class="nav-link active" aria-current="page">Signed in as {{ session.username }}</a>
            <a href="/form.html" class="nav-link active" aria-current="page">Form</a>
            <a href="/formsearch.html" class="nav-link active" aria-current="page">Form Search</a>
            <a href="/signout.html" class="nav-link active" aria-current="page">Sign out</a>
          {% else %}
            <a href="/signup.html" class="nav-link active" aria-current="page">Sign up</a>
            <a href="/signin.html" class="nav-link active" aria-current="page">Sign in</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>