{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Sample Secure Form</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <form action="/form.html" method="POST" class="box">
      <div class="mb-3">
        <label for="ProjectInput1" class="form-label">Project</label>
        <input name="Project" type="text" class="form-control" id="ProjectInput1" required>
      </div>
      <div class="mb-3">
        <label for="Start_TimeInput1" class="form-label">Start Time</label>
        <input name="Start_Time" type="text" class="form-control" id="Start_TimeInput1" placeholder="hh:mm dd/mm/yyyy" required>
      </div>
      <div class="mb-3">
        <label for="End_TimeInput1" class="form-label">End Time</label>
        <input name="End_Time" type="text" class="form-control" id="End_TimeInput1" placeholder="hh:mm dd/mm/yyyy" required>
      </div>
      <div class="mb-3">
        <label for="RepoInput1" class="form-label">Repository Link</label>
        <input name="Repo" type="text" class="form-control" id="RepoInput1" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Developer Notes</label>
        <textarea class="form-control" name="Developer_Notes" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br/>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>
{% endblock %}